.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img-container img {

    object-fit: cover;
}
.job-title {
    color: black;
    font-weight: bold;
}
.tag {
    margin: 0 10px;
}